.remove_padding {
  margin-bottom: 0px;
}

.expand_div:hover {
  cursor: pointer;
}

.map iframe {
  max-width: 100%;
  width: 100%;
  height: auto;
  width: auto\9;
  min-height: 50vh;
}

.expanded_top_image {
  width: 100%;
  min-height: 100%;
}

.top_section_expanded{
  position: relative;
  max-height: 40vh;
  overflow: hidden;
}