.navbar {
    background: #fff5d7;
    font-size: 1.2rem;
    top: 0;
    padding-left: 10px;
}

.logo_nav{
    margin-top: -15px;
}

.spacing {
    background: #fff5d7;
    padding-right: 10px;
    padding-left: 10px;
    display: block;
}

.color{
    background: #fff5d7;
}

.nav-link:hover {
    text-decoration: underline;
}

.navbar-nav{
    text-align: center;
}

.login-button {
    background-color: #9bc400;
    color: #442c34;
    border-radius: 8%;
    border: 0px;
    padding: 0.2em 2em 0.2em 2em;
    margin-left: 0.5em;
}

.event_creation_button{
    border: 0px;
    background: #fff5d7;
    color: var(--bs-nav-link-color);
    font-weight: var(--bs-nav-link-font-weight);
}

.event_creation_button:hover{
    text-decoration: underline;
}